extends head.pug
block content
  include header.pug
  include tweet.pug
  .bounds.app--body
    include section.pug
    include timeline.pug
    include follow.pug
    include direct.pug

                




    
